@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;;
}

body{
    background-color: #461F1F;
}

.header{
    background-color: #881717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    font-size: 20px;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 80%;
    transition: all 0.3s;
    cursor: pointer;
}

.header .logo img:hover{
    transform: scale(1.2);
}


.header .nav-links li{
    display: inline-flex;
    padding: 0px 10px;
}

.header .nav-links a{
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgb(0, 0, 0);
}

.header .button{
    color: rgb(0, 0, 0);
    padding: 9px 10px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
}

.header .button i:hover{
    transform: scale(1.2);
}

/* boton q sale */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #881717
}

.dropdown:hover .dropdown-content {
    display: block;
}

.img1{
    width: 100%;
    max-width: 580px;
    max-height: 330px;
    margin: auto;
}

.fuentealbilla{
    font-family: 'DotGothic16', sans-serif;;
}

.fuentenoticias{
    font-family: 'Ubuntu', sans-serif;
}

.contornologo{
    text-shadow: 3px  0px 0px red,
               0px  3px 0px red,
              -3px  0px 0px red,
               0px -3px 0px red;
}

.contornonoticias{
    text-shadow: 3px  0px 0px white,
               0px  3px 0px white,
              -3px  0px 0px white,
               0px -3px 0px white;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 30px;
}

.imgredonda{
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 150px;
}

.st_resena{
    background-color: white;
    justify-content: center;
    display: flex;
    margin: 50px 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Clase para imágenes de noticias */

.imgnoti{
    width: 80px; 
    height: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 150px;
}

.textnoti{
    color: black; 
    font: bold; 
    font-size: 22px;
}

/* Esto es para noticia1 One Piece */

.imgnoticias{
    width: 640px;
    border-radius: 3px;
}

/* Clase para los titulos */

.titulo{
    font-size: 90px; 
    color: white; 
    font-weight: bold;
}

.titulonoti{
    font-size: 50px; 
    color: white; 
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
}

/* Formulario Inicio Sesión */

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #881717;
    border-radius: 10px;
}

.formulario{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

form .username{
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: whitesmoke;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: rgb(0, 0, 0);
}

.username input:focus ~ label,
.username input:focus ~ label{
    width: 100%;
}

form .password{
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.password input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: whitesmoke;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.password span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}

.password input:focus ~ label,
.password input:focus ~ label{
    top: -5px;
    color: rgb(0, 0, 0);
}

.password input:focus ~ label,
.password input:focus ~ label{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor:  pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #461F1F;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: rgb(0, 0, 0);
    transition: .5s;
}

.registrarse{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

/*Registrarse*/