@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;;
}

body{
    background-color: #461F1F;
}

.header{
    background-color: #881717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    font-size: 20px;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 80%;
    transition: all 0.3s;
    cursor: pointer;
}

.header .logo img:hover{
    transform: scale(1.2);
}


.header .nav-links li{
    display: inline-flex;
    padding: 0px 10px;
}

.header .nav-links a{
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgb(0, 0, 0);
}

.header .button{
    color: rgb(0, 0, 0);
    padding: 9px 10px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
}

.header .button i:hover{
    transform: scale(1.2);
}

/* boton q sale */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #881717
}

.dropdown:hover .dropdown-content {
    display: block;
}

.img1{
    width: 100%;
    max-width: 580px;
    max-height: 330px;
    margin: auto;
}

.fuentealbilla{
    font-family: 'DotGothic16', sans-serif;;
}

.fuentenoticias{
    font-family: 'Ubuntu', sans-serif;
}

.contornologo{
    text-shadow: 3px  0px 0px red,
               0px  3px 0px red,
              -3px  0px 0px red,
               0px -3px 0px red;
}

.contornonoticias{
    text-shadow: 3px  0px 0px white,
               0px  3px 0px white,
              -3px  0px 0px white,
               0px -3px 0px white;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 30px;
}

.imgredonda{
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 150px;
}

.st_resena{
    background-color: white;
    justify-content: center;
    display: flex;
    margin: 50px 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Clase para imágenes de noticias */

.imgnoti{
    width: 80px; 
    height: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 150px;
}

.textnoti{
    color: black; 
    font: bold; 
    font-size: 22px;
}