/* Formulario Registro*/

.formulario{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: red;
  border-radius: 10px;
  color: black;
}

.formulario{
  text-align: center;
  padding: 50px 0 20px 0;
  border-bottom: 1px solid white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form .username{
  position: relative;
  border-bottom: 2px solid black;
  margin: 50px 50px;
}

.username input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.username label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: whitesmoke;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.username span::before{
  content:' ';
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
}

.username input:focus ~ label,
.username input:focus ~ label{
  top: -10px;
  color: black;
}

.username input:focus ~ label,
.username input:focus ~ label{
  width: 100%;
}

form .password{
  position: relative;
  border-bottom: 2px solid black;
  margin: 50px 50px;
}

.password input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.password label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: whitesmoke;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.password span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
}

.password input:focus ~ label,
.password input:focus ~ label{
  top: -5px;
  color: rgb(0, 0, 0);
}

.password input:focus ~ label,
.password input:focus ~ label{
  width: 100%;
}

.recordar{
  margin: -1px 0 100px 1px;
  color: white;
  cursor:  pointer;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.recordar:hover{
  text-decoration: underline;
}

input[type="submit"]{
  width: 50%;
  height: 50px;
  border: 1px solid white;
  background: black;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  border-color: black;
  transition: .5s;
}

.registrarse{
  margin: 30px;
  text-align: center;
  font-size: 16px;
}

.registrarse a{
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registrarse a:hover{
  text-decoration: underline;
}

.buttonS{
  width: 30%;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  color: black;
}

.usuario input{
  width: 100%;
  padding: 0 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}